[Desktop Entry]
Name=Passwords
Comment=Keep and find your passwords
Exec=singularity-passwords
Icon=dev.sinty.passwords
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=password;keyring;secret;login;key;vault;
StartupWMClass=dev.sinty.passwords
Actions=generate-password;

[Desktop Action generate-password]
Name=Copy a New Password
Icon=dialog-password-symbolic
Exec=singularity-passwords --generate-password
X-Singularity-Dock-Reply=true
